body {
    background: $mainBackground;
    color: $textColor;    
    padding-top: 50px;
    @font-face{ 
        font-family: 'HelveticaThin';
        src: url('helvetica_neue_ce_35_thin-webfont.eot');
        src: url('helvetica_neue_ce_35_thin-webfont.eot?#iefix') format('embedded-opentype'),
            url('helvetica_neue_ce_35_thin-webfont.woff') format('woff'),
            url('helvetica_neue_ce_35_thin-webfont.ttf') format('truetype'),
            url('helvetica_neue_ce_35_thin-webfont.svg#webfont') format('svg');
    }    
    &.login {
        background-image: url('../images/loginBg.jpg');
        background-size: 77% 100%;                             
        background-repeat: no-repeat;       
        min-height: 100vh; 
        background-color: $white;
        padding-top: 13%;
        form {
            padding-left: 70px;
        }
        h3, h1 {
            font-family: $heading;
            color: $white;
            font-weight: 200;
            font-variant: normal;
        }
        p {
            color: $white;
        }
    }
    .form-control, .btn {
        @include border-radius(0);
    }
    .np {
        padding: 0;
    }
    .npl {
        padding-left: 0;
    }
    .npr {
        padding-right: 0;
    }
    .npt {
        padding-top: 0;
    }
    .npb {
        padding-bottom: 0; 
    }
    #sidebar {
        overflow: hidden;
        z-index: 3;
        @media (max-width: $mw768) {
            min-width: 35px;
            max-width: 40px;
            overflow-y: auto;
            overflow-x: visible;
            transition: all 0.25s ease;
            transform: translateX(-45px);
            position: fixed;
            &.show {
                transform: translateX(0);
            }
            .list-group {
                min-width: 35px;
                overflow: visible;
                > .list-group-item[aria-expanded="true"]::after, > .list-group-item[aria-expanded="false"]::after {
                    display: none;
                }
                .collapse {
                    &.show, .collapsing {
                        position: relative;
                        z-index: 1;
                        width: 190px;
                        top: 0;
                    }
                }
            }
        }
        .list-group {
            min-width: 400px;
            background-color: #333;
            min-height: 100vh;
            .list-group-item {
                border-radius: 0;
                background-color: #333;
                color: #ccc;
                border-left: 0;
                border-right: 0;
                border-color: #2c2c2c;
                white-space: nowrap;
            }
            .list-group-item:not(.collapsed) {
                background-color: #222;
            }
            .list-group-item[aria-expanded="false"]::after {
                content: " \f0d7";
                font-family: FontAwesome;
                display: inline;
                text-align: right;
                padding-left: 5px;
            }
            .list-group-item[aria-expanded="true"] {
                background-color: #222;
            }
            .list-group-item[aria-expanded="true"]::after {
                content: " \f0da";
                font-family: FontAwesome;
                display: inline;
                text-align: right;
                padding-left: 5px;
            }
            .collapse {
                .list-group-item {
                    padding-left: 20px;
                }
                &.show {
                    visibility: visible;
                }

            } 
            .collapsing {
                visibility: visible;
                height: 0;
                -webkit-transition-property: height, visibility;
                transition-property: height, visibility;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
                .list-group-item {
                    padding-left: 20px;
                }
                &.width {
                    -webkit-transition-property: width, visibility;
                    transition-property: width, visibility;
                    width: 0;
                    height: 100%;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                } 
            }
        }        
        i {
            margin-right: 6px;
        }
        
    }
}